<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-danger">
    <a href="#" class="navbar-brand">CrowdFun TTA 22</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Acceuil </a>
      </li>
     
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">Dashboard</a><!-- -->
      </li>
      <li *ngIf="showAdminBoard" class="nav-item" ><!---->
        <a href="/admin" class="nav-link" routerLink="admin">Admin Dash.</a>
      </li>
      <li *ngIf="showModeratorBoard" class="nav-item" ><!---->
        <a href="/mod" class="nav-link" routerLink="mod">Moderateur Dash.</a>
      </li>
     
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
