
<div class="btn-grp">
  <button (click)="scroll(contact)">Contact</button>
  <button (click)="scroll(target)">A propos</button>
  
 </div>
<div class="row n1">
     <div class="column r1">
      Connectez-vous Pour recevoir toute nouveauté a propos les projets postés, pourqoui pas encourager une idée
      en faisant un don et etre inspirer 
  
    </div>
     <div class="column r1">
      <img mat-card-image src="../../assets/images/crowws.jpg" alt="Photo of a Shiba Inu">
    </div>
 </div>

 <div class="r0 xl" #contact>
  <i class="material-icons widget" style="font-size:48px;color:rgb(238, 223, 223)">email</i>  
  <i class="material-icons widget" style="font-size:48px;color:rgb(238, 223, 223)">call</i>  
  <i class="material-icons widget" style="font-size:48px;color:rgb(238, 223, 223)">bubble_chart</i>  
 </div>


    <div class="row n1" #target>
      <div class="column r1">
         Ici mettez le text convenable       Ici mettez le text convenable
         Ici mettez le text convenable
         Ici mettez le text convenable
         Ici mettez le text convenable
         Ici mettez le text convenable
         Ici mettez le text convenable
         Ici mettez le text convenable
         Ici mettez le text convenable
   
      </div>
    <div class="column r1">
       <img mat-card-image src="../../assets/images/crowws.jpg" alt="Pic of crowdfunding">
     </div>
</div>
