<div class="r0">
  
<i class="material-icons" style="padding: 0.3% ;font-size:16px">widgets</i>  
  Admin Dash.
</div>
<!------------------------------------------------------------------->

<div class="r1">
 <h1 class="titl">Communauté</h1> 
</div>
<!---------------------------------------------------------------------->
<div>
  <table class="table table-hover">
    <thead style="background-color: rgba(250, 73, 3, 0.233);">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Controle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
    <!-- <tr *ngFor="let Coach of dataCoach | slice:(pageCoach-1) * pageSizee : (pageCoach-1) * pageSizee + pageSizee">
            
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>--> 
    </tbody>
  </table>
  <!--<ngb-pagination class="d-flex justify-content-end" [(page)]="pageCoach" [pageSize]="pageSizee" [collectionSize]="sizeCo"></ngb-pagination>
-->
</div>